<h2>Your Cart</h2>
<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Keep Shopping', products_index_url, class: 'button is-warning' %>
</div>
<hr />
<section class="section">
  <%= render(@cart.line_item) %>

  <div class="columns">
    <div class="column">
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %>
      <%= button_to "Checkout", new_order_path, method: :get %>
<<<<<<< HEAD
=======

>>>>>>> 69c19b6b0a88b6effe23375305380a03f5994cab
    </div>
    <div class="column total has-text-right">
      <h4 class="title is-4">
        <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>
      </h4>
    </div>
  </div>
</section>