  
!!! 5
%html{lang: I18n.locale}
  %head
    = render "layouts/rails_admin/head"
  %body.rails_admin
    :css
       {table.table.table-condensed.table-striped : display: none; }
    #admin-js{:'data-i18n-options' => I18n.t("admin.js").to_json}
    #loading.label.label-warning{style: 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')
    %nav.navbar.navbar-default.navbar-fixed-top
      = render "layouts/rails_admin/navigation"
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar-nav
          = render "layouts/rails_admin/sidebar_navigation"
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
          .content{:'data-pjax-container' => true}
            = render template: 'layouts/rails_admin/pjax'
            %br/
            %hr/
            %h1 Orders received minute-wise
            = line_chart Order.group_by_minute(:created_at).count, xtitle: "Time", ytitle: "Number of Orders"
            %br/
            %hr/
            %h1 Orders received day-wise
            = pie_chart Order.group_by_day(:created_at).count
            %br/
            %hr/
            %h1 Orders received week-wise
            = column_chart Order.group_by_day_of_week(:created_at, format: "%a").count, xtitle: "Day of the week", ytitle: "Number of Orders"
            %br/
            %hr/
            %h1 User Registrations day-wise
            = line_chart Users.group_by_day(:created_at).count
            %br/
            %hr/
            %h1 User Registrations week-wise
            = area_chart Users.group_by_day(:created_at).count
            %br/
            %hr/
            %h1 Orders received country-wise
            = scatter_chart Order.pluck(:id, :countries_id), xtitle: "Number of Orders", ytitle: "Country id"

            