<!DOCTYPE html>
<html lang="en">

<head>
<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(<%= asset_path('slider5.jpg') %>);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown">Welcome to <span>Shopperly</span></h2>
                <p class="animated fadeInUp">Fulfilling your shopping needs</p>
                <a href="/products" class="btn-get-started animated fadeInUp">Start Shopping</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(<%= asset_path('slider2.jpg') %>);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown">Accessories</span></h2>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(<%= asset_path('slider3.jpg') %>);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown">Electronics</h2>
              </div>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <img src= "http://img6a.flixcart.com/image/waistcoat/d/z/y/tl-012-pick-pocket-xxl-original-imaefurn2xrqf4ef.jpeg"  height="250" />
              <h3><a href="">Clothing</a></h3>
              <p>Discover the latest fashion and trends in Menswear and Womenswear. Shop the latest clothes at Shopperly and keep your style game strong with the freshest trends.</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <img src= "http://img6a.flixcart.com/image/sofa-bed/j/6/q/fhd115-double-foam-fabhomedecor-dark-brown-dark-brown-original-imaeh3gee5zcazvm.jpeg" width= "300" height="250"/>
              <h3><a href="">Home Decor</h3>
              <p>Home accessories are a great way to express yourself and a simple way of changing the look of your room in a fast and affordable way. </p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <img src= "http://img6a.flixcart.com/image/ring/n/g/w/kir0179-15-kiara-jewellery-ring-original-imadtdybfjmgtssq.jpeg" width="300" height="250"/>
              <h3><a href="">Jewellery</a></h3>
              <p>Whether you're looking for earrings, bracelets, necklaces or rings, the options are endless. You'll find a huge range of jewellery brands to choose from at Shopperly.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->
 <hr class="featurette-divider"> 
    <!-- ======= About Section ======= -->
    <section id="about" class="about" style= "background: #e96b56; padding: 20px; color: #ffffff;">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <%= image_tag "about.jpg",  :class => " img-fluid " %>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>About</h3>
            <p>
              Shopperly is your one stop solution to all your shopping needs. <br/> <span style= "color: #ffffff;">Find it, Love it, Buy it!</span>
            </p>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
 <hr class="featurette-divider"> 
    <!-- ======= Products Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Products</h2>
        </div>
       
        <% cache @products do %>
        <% @products.each do |product| -%>
          <div class="row"> 
       <% cache product do %>
            <div class="icon-box  col-lg-12 col-md-12">
              <h4>  <%= product.name %></h4>
              <%= image_tag product.image , :class => "style_image" %>
              <p><%= sanitize(product.brand) %> </p>
              <p><span class="price"><%= number_to_currency(product.price) %></span></p>
              <%= link_to 'View more details', product %> 
            </div>
         </div>
       <% end %>
    <% end %>
    </div>
  <% end %>
  
    </section><!-- End Services Section -->


  </main><!-- End #main -->

 

  <a href="#" class="back-to-top"></a>



</body>

</html>