<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table class="products" width="100%" cellpadding="5px">
  <tr>
    <div class="field">
    <td> <%= form.label :name %></td>
    <td> <%= form.text_field :name, size: 40 %></td>
    </div>
  </tr>
   <tr>
    <div class="field">
    <td>  <%= form.label :address %></td>
    <td> <%= form.text_area :address,  cols: 40 %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
    <td>  <%= form.label :email %></td>
    <td>  <%= form.email_field :email, size: 40 %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
    <td>  <%= form.label :pay_type %></td>
    <td>  <%= form.select :pay_type, Order.pay_type.keys, prompt: 'Select a payment method' %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
    <td>  <%= form.label :countries_id %></td>
    <td>  <%= form.collection_select(:countries_id, Countries.all, :id, :name ) %></td>
    </div>
  </tr>
 
</table>  




  <div class="actions">
    <%= form.submit 'Place Order' %>
  </div>
<% end %>
