<section id="featured" class="featured">
<div class="container">
<div class="row">
<div class="col-lg-12">     

<div class="section-title">
          <h2>Your Order Summary</h2>
</div>
<script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
 
<center>

  <strong>Name:</strong>
  <%= @order.name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @order.countries.name %>
</p>

<p> Your order will be shipped to the following location. <br/> Refresh the page if at first the map doesn't appear below.</p>

<div id='map' style='width: 720px; height: 400px; '></div>
<script>
L.mapbox.accessToken = 'pk.eyJ1Ijoic25lc2hlYiIsImEiOiJjazZ0eWI2bWgwM3djM3RtczB6Zm1hajA1In0.3puNkWvosmAZdTYx2-ACcQ';
var map = L.mapbox.map('map')
    .setView([<%= @order.countries.latitude %>, <%= @order.countries.longitude %>], 5)
    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
    var marker = L.marker([<%= @order.countries.latitude %>, <%= @order.countries.longitude %>]).addTo(map);   
    
</script>


<%= link_to 'Back', products_index_path %>


</div>
</div>
</div>
</section><!-- End Featured Section -->
