<%= form_with(model: customers, local: true) do |form| %>
  <% if customers.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customers.errors.count, "error") %> prohibited this customers from being saved:</h2>

      <ul>
        <% customers.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
   <%= form.label :password %>
   <%= form.password_field :password %>
  </div>
 
  <div class="field">
    <%= form.label :password_confirmation, "Confirmation" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :countries_id %>
    <%= form.collection_select(:countries_id, Countries.all, :id, :name ) %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
