<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= form_tag(products_index_path, method: :get) do %>
<%= text_field_tag :term,  params[:term]  %>
<%= submit_tag 'Search' %>
<% end %>
<table class="products">>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Brand</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |products| %>
      <tr class="<%= cycle("list_line_odd", "list_line_even") %>">
        <td  class="list_description"><%= products.name %></td>
        
        <td><%= image_tag products.image , :class => "list_image" %></td>
        <td><%= products.price %></td>
        <td><%= products.brand %></td>
        <td><%= products.categories.name %></td>
        <td class="list_actions"><%= link_to 'Show', products %></td>
        <td class="list_actions"><%= link_to 'Edit', edit_products_path(products) %></td>
        <td class="list_actions"><%= link_to 'Destroy', products, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @products %>

<%= link_to 'New Products', new_products_path %>
