<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @products.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @products.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @products.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @products.price %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @products.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @products.categories.name %>
</p>

<%= button_to 'Add to cart', line_item_index_path(products_id: @products), class: 'button is-warning add-to-cart' %>

<%= link_to 'Edit', edit_products_path(@products) %> |
<%= link_to 'Back', products_index_path %>
