<center><%= image_tag("logo.jpg",  {:style => "width:300px; height:auto; text-align:center;"}) %>
<p> <%=link_to 'Home',shopperly_index_path %> |   <%=link_to 'Product Categories',categories_index_path %> | <%=link_to 'Products',products_index_path %> | 
<% if current_users.nil? %>
	<%= link_to new_users_session_path, class: 'login-button' do %>Register/ Login |<% end %>
<% else %>
    <%= link_to 'Edit Profile', edit_users_registration_path %>|
	<%= link_to destroy_users_session_path, method: :delete do %>Log out |<% end %>
<% end %> 
</p> 
</center>