<center><%= image_tag("logo.jpg",  {:style => "width:300px; height:auto; text-align:center;"}) %>
<p> <%=link_to 'Home',shopperly_index_path %> |   <%=link_to 'Product Categories',categories_index_path %> | <%=link_to 'Products',products_index_path %> | <%=link_to 'Register/ Login',customers_index_path %></p> 
</center>